/* Шрифты */
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('../fonts/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.eot');
	src: local('Geometria'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
