// стили постраничной навигации/хлебные крошки 
.top{
	padding-top: 48px;
	margin-bottom: 70px;
	@media (max-width: 767px) {
		margin-bottom: 50px;
	}
	@media (max-width: 411px) {
		margin-bottom: 30px;
	}
	body.not-front &{
		background-color: #FFFFFF;
		margin-bottom: 0;
		padding-bottom: 70px;
		@media (max-width: 767px) {
			padding-bottom: 50px;
			padding-top: 20px;
		}
		@media (max-width: 411px) {
			padding-bottom: 30px;
		}
	}
}
body.not-front.v2 {
	.top {
		background-color: transparent;
	}
	
}
.breadcrumbs{
	li{
		display: inline;
		a, span{
			color: $beige-dark;
			font-size: 14px;
		}
		a{
			color: $black;
			text-decoration-color: transparent;
			&:hover{
				color: $blue-dark;
				text-decoration: underline;
				text-decoration-skip-ink: none;
				text-underline-offset: 2px;
				text-decoration-color: $blue-dark;
			}
		}
		span{
			color: #7f797c;
		}
		&:not(:last-child):after{
			content: "";
			display: inline-block;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: $beige-dark;
			opacity: 0.8;
			margin: 0 6px 0 8px;
			position: relative;
			top: -3px;
		}
	}
	
}
.page-title{
	font-size: 46px;
	margin-bottom: 0;
	margin-top: 28px;
	@media (max-width: 959px) {
		font-size: 36px;
	}
	@media (max-width: 799px) {
		font-size: 32px;
	}
	@media (max-width: 411px) {
		font-size: 24px;
		hyphens: auto;
	}
}
.pager{
	display: flex;
	justify-content: center;
	align-items: center;
	a{
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		color: white;
		background-color: lightgray;
		transition: background-color 0.3s;
		&:hover{
			background-color: gray;
		}
		&.active{
			background-color: black;
		}
	}
	&__prev,
	&__next{
		padding-bottom: 2px;
		&:after{
			font-size: 22px;
		}
	}
	&__prev{
		&:after{
			content: "\2039";
		}
	}
	&__next{
		&:after{
			content: "\203A";
		}
	}
	ul{
		display: flex;
		margin: 0 20px;
		li{
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
			a{
				padding-top: 1px;
			}
		}
	}
}
.text-content{
	margin-top: 30px;
}


