// переменные цвета, шрифтов и др.
$font: "Geometria", sans-serif;
$font-heading: "Gotham Pro", sans-serif;

$dark-text: #242526;
$black: #0D0D0D;
$beige-dark: #5B585A;
$beige: #E1DCDE;
$beige-medium: #ECE9EA;
$beige-light: #F6F4F5;

$blue-dark: #253750;
$blue-dark-hover: #375074;

$blue-medium: #505F7D;
$blue-medium-hover: #6A83B5;

$blue-light: #7EB1E3;
$blue-light-hover: #84BFFA;

$blue-lightest: #C9D5E6;

$orange: #F6A68D;
$violet: #AEB6E1;

$alert: #D82E57;
$success: #29C282;
$warning: #FFAB5E;

$time: 0.5s;
$containerWidth: 1440px;
$headerHeight: 92px;
$headerHeightPhone: 60px;

$grey: #FAFAFA;
