// переменные цвета, шрифтов и др.
$font: "Geometria", sans-serif;
$font-heading: "Gotham Pro", sans-serif;

$dark-text: #242526;
$black: #0d0d0d;
$beige-dark: #5b585a;
$beige: #e1dcde;
$beige-medium: #ece9ea;
$beige-light: #f6f4f5;

$blue-dark: #253750;
$blue-dark-hover: #375074;

$blue-medium: #505f7d;
$blue-medium-hover: #6a83b5;

$blue-light: #7eb1e3;
$blue-light-hover: #84bffa;

$blue-lightest: #c9d5e6;

$orange: #f6a68d;
$violet: #aeb6e1;

$alert: #d82e57;
$success: #29c282;
$warning: #ffab5e;

$time: 0.5s;
$containerWidth: 1440px;
$headerHeight: 92px;
$headerHeightPhone: 60px;

$grey: #fafafa;
